/*공통*/
*{margin: 0; padding: 0}
ul{list-style: none;}
a{text-decoration: none; color: black;}
.wrap{width: 980px; margin: 0 auto;}

.space{clear: both;}

/*헤더*/
#header{
    overflow: hidden;
}
.logo{float: left; cursor: pointer;padding: 10px;}
.login{
    padding-top: 10px;
    float: right;
    overflow: hidden;
}
.login li{
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

/*사이드*/

body{position: relative;}

#aside{
    position: absolute;
    width: 102px;
    left: 990px;
    top: 20px;
}
#aside div{
    width: 102px;
    height: 150px;
    display: block;
    background-image: url(../Images/prodAside1.png);
    margin-bottom: 5px;
}
/*상단gnb*/

#top_gnb{
    overflow: hidden;
}
#top_gnb .menu{
    float: left;
    width: 140px;
    height: 50px;
    background: url(../Images/css_sprites.png);
    cursor: pointer;
}
#top_gnb > div.list1{background-position: -10px -410px;}
#top_gnb > div.list2{background-position: -330px -410px;}
#top_gnb > div.list3{background-position: -170px -480px;}
#top_gnb > div.list4{background-position: -600px -80px;}
#top_gnb > div.list5{background-position: -10px -550px;}
#top_gnb > div.list6{background-position: -600px -220px;}
#top_gnb > div.list7{background-position: -600px -290px;}

#top_gnb > div.list1:hover,
#top_gnb > div.list1.active{background-position: -170px -410px;}
#top_gnb > div.list2:hover{background-position: -10px -480px;}
#top_gnb > div.list3:hover{background-position: -330px -480px;}
#top_gnb > div.list4:hover{background-position: -600px -150px;}
#top_gnb > div.list5:hover{background-position: -600px -10px;}
#top_gnb > div.list6:hover{background-position: -600px -360px;}
#top_gnb > div.list7:hover{background-position: -600px -430px;}

/*하단gnb*/

#bottom_gnb{
    overflow: hidden;
}
#bottom_gnb .menu{
    float: left;
    width: 98px;
    height: 80px;
    background: url(../Images/css_sprites.png);
    cursor: pointer;
}

#bottom_gnb > div.list1{background-position: -10px -10px;}
#bottom_gnb > div.list2{background-position: -128px -10px;}
#bottom_gnb > div.list3{background-position: -128px -110px;}
#bottom_gnb > div.list4{background-position: -246px -210px;}
#bottom_gnb > div.list5{background-position: -364px -10px;}
#bottom_gnb > div.list6{background-position: -10px -210px;}
#bottom_gnb > div.list7{background-position: -10px -310px;}
#bottom_gnb > div.list8{background-position: -482px -110px;}
#bottom_gnb > div.list9{background-position: -482px -10px;}
#bottom_gnb > div.list10{background-position: -128px -310px;}

#bottom_gnb > div.list1:hover{background-position: -364px -110px;}
#bottom_gnb > div.list2:hover{background-position: -246px -10px;}
#bottom_gnb > div.list3:hover{background-position: -10px -110px;}
#bottom_gnb > div.list4:hover{background-position: -246px -110px;}
#bottom_gnb > div.list5:hover{background-position: -128px -210px;}
#bottom_gnb > div.list6:hover{background-position: -364px -210px;}
#bottom_gnb > div.list7:hover{background-position: -482px -310px;}
#bottom_gnb > div.list8:hover{background-position: -482px -210px;}
#bottom_gnb > div.list9:hover,
#bottom_gnb > div.list9.active{background-position: -364px -310px;}
#bottom_gnb > div.list10:hover{background-position: -246px -310px;}

/*deatil*/
#detail{
    overflow: hidden;
    padding: 10px;
    background-color: #3b414d;
}
#detail ul{
    float: left;
    width: 192px;
    color: #f2f2f2;
    margin-bottom: 5px
}
#detail li{
    height: 13px;
    margin-top: 5px;
    padding: 3px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}
#detail li h3{
    font-size: 15px;
    padding-left: 15px;
    color: cornflowerblue
}

/*메인*/

.main-banner{
    position: relative;
    left: 50%;
    margin-left: -980px;
}
.hidden{
    display: none;
}
.narrow{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.prod-tab{
    position: absolute;
    top: -410px;
    z-index: 1;
    right: 70px;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 30%);
}
.prod-tab-item{
    position: relative;
}
.prod-tab-image{
    vertical-align: top;
}
/*마스크가 hover했을때 변화없이 그대로 위에 반응을 올려줌*/
.prod-tab-item > .mask:hover{
    border: 2px solid #4285f4;
    display: block;
    cursor: pointer;
}
.mask{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
/*아티클*/


#content{
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #979DA6;
}
.section1{
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.section1 .box1{
    border: 1px solid #979DA6;
    width: 468px;
    height: 289px;
    float: left;
    background-image: url(../Images/prodMid1-1.jpg);
    background-size: cover;
    margin: 10px

}
.section1 .box2{
    border: 1px solid #979DA6;
    width: 468px;
    height: 289px;
    float: right;
    background-image: url(../Images/prodMid1-2.jpg);
    background-size: cover;
    margin: 10px 10px 10px 0;
}
.section2{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.section2 .product{
    width: 228px;
    height: 289px;
    float: left;
    background-image: url(../Images/prodSm2-1.jpg);
    margin-right: 10px;
    border: 1px solid #979DA6;
    margin-bottom: 10px;
}
.section2 .product:nth-child(1){
    margin-left: 10px;
    background-image: url(../Images/prodSm2-2.jpg);
}
.section2 .product:nth-child(2){
    margin-right:20px;
    background-image: url(../Images/prodSm2-3.jpg);
}
.section2 .product:nth-child(4){
    margin-right: 5px;
    background-image: url(../Images/prodSm2-4.jpg);
}
.section3{
    overflow: hidden;
    width: 100%;
    padding: 10px;
    padding-top: 0;
    position: relative;
}
.section3 .box{
    width: 468px;
    height: 298px;
    background-image: url(../Images/prodMd3-1.jpg);
    float: left;
    border: 1px solid #979DA6;
    margin-right: 20px;
}
.section3 .box1{
    width: 228px;
    height: 298px;
    background-image: url(../Images/prodSm3-2.jpg);
    float: left;
    border: 1px solid #979DA6;
    margin-right: 10px;
}
.section3 div:nth-child(3){
    margin-right: 0;
    background-image: url(../Images/prodSm3-3.jpg)
}
.btn_buy{
    width: 40px;
    height: 40px;
    background-image: url(../Images/main-buy.png);
    position: absolute;
    bottom: 10px;
    margin:10px;
    text-indent: -9999999px;
}
.product:hover > .btn_buy{
    width: 100px;
    height: 40px;
    background-image: url(../Images/main-buy-hover.png);
}
#content .product:hover{
    cursor: pointer;
    border: 1px solid #3D9DF2;
}
/*푸터*/
#footer{
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
}
.first_footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    border-top: 2px solid #eee;
}
.first_footer ul{
    width: 100%;
    margin: 0 auto;
}
.first_footer li{
    float: left;
    color: #9e9e9e;
    cursor: pointer;
}
.first_footer li:after{
    display: inline-block;
    content: '|';
    margin: 0 14.9px;
}
.first_footer li:nth-child(12):after{
    display: none;
    content: '';
    margin: 0;
}
.first_footer span{
    font-weight: bold;
}
.second_footer{
    padding: 25px 0;
    width: 100%;
    height: 100px;
    position: relative;
    line-height: 15px;
    border-bottom: 1px solid #eee;
}
.company{
    float: left;
}
.f_logo{
    float: left;
    cursor: pointer
}
.info{
    float: left;
    margin-left: 30px;
    text-align: left;
}
.info span{text-decoration-line: underline; cursor: pointer;}
.number{
    position: absolute;
    width: 165px;
    text-align: left;
    right: 0; left: 180px; margin: 0 auto;
}
.number span{font-weight: bold;}
.number div{
    font-size: 30px;
    font-weight: bold;
    display: block;
    line-height: 30px;
}
.bank{
    float: right;
    text-align: left;
    margin-right: 30px;
}
.bank span:nth-child(1){
    font-weight: bold;
}
.bank span:last-child{
    text-decoration-line: underline;
    cursor: pointer
}

.third_footer{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #979DA6;
    padding:0 15px;
}
.third_footer li{
    float: left;
    height: 50px;
    width: 150px;
    margin-right: 116px;
    line-height: 50px;
}
.third_footer li:nth-child(4){
    margin-right: 0;
}
.third_footer img{
    width: 100%;
    border: none;
}

.last_footer{
    text-align: left;
    background-color: #2f2f2f;
    color: #979DA6;
    padding: 10px 0
}
